node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
README.md
.vscode
.idea
*.log
coverage
.cache
uploads/*
!uploads/.gitkeep
test
*.md
.prettierrc
.eslintrc.js
eslint.config.mjs
